CSS RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/
* {
  font-family: "Public Sans",sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* Styling for header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:100px;
  padding-right: 100px;
  height: 70px;
}

.nav-in-home {
  display:flex;
  flex-direction: row;
  gap: 0 40px;

}

.nav-in-home a {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
}

.nav-in-home a:hover {
  border-bottom: 2px solid;
  border-color: hsl(136, 65%, 51%);
}

footer a:hover {
  color: hsl(136, 65%, 51%);
}


/* Styling for button */

.request {
  width: 150px;
  height:40px;
  border-radius:2000px;
  color: white;
  border:none;
  font-weight: bold;
  background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

/* Styling for image */

.logo {
  height: 25px;
}


/* Styling for first section*/

.first-section {
  background-image: url("./images/image-mockups.png"),url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  
  background-position: 1200px -100px, 900px -260px;
  height: 800px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 40px 0;
  line-height: 1.3;
  background-color: rgb(248, 248, 248);
  flex-wrap: wrap;
}

.first-section h3 {
  font-size: 40px;
}

.first-section p {
  color: grey;

}

/* Styling for second section */

.second-section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px 0px;
  background-color: rgb(240, 238, 238);
  line-height: 1.3;
  flex-wrap: wrap;
}




.second-section h2 {
  font-size: 30px;
}

.second-section p {
  color: grey;
}
.green-icons {
  display: flex;
  justify-content: space-between;
  gap : 30px 0;
  flex-wrap: wrap;
}

.green-icons h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Styling for third section */

.third-section {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(242, 242, 242);
  flex-wrap: wrap;

}

.third-section h2 {
  font-size: 30px;
  margin-bottom: 60px;
}

.third-section img {
  width: 270px;
  height: 170px;
}

.container-articles {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

 .one , .two, .three, .four {
  display: flex;
  flex-direction: column;
  width: 270px;
  gap: 20px 0;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.one h4 , .two h4, .three h4, .four h4 {
  color:grey;
  padding-left: 20px;
} 

.one .heading , .two .heading, .three .heading, .four .heading {
  color: black;
  font-size: 20px;
  padding-left: 20px;
}

.one .text , .two .text, .three .text, .four  .text {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  color:grey;
}

/* Styling for footer */

footer {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 200px;
}



footer .right-container p {
  color:white;
  
}

footer .right-container {

  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

footer .left-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.footer-button {
  display:flex;
  justify-content: end;
}

.social-media {
  display:flex;
  justify-content: space-between;
}
.middle-container {
  display:flex;
  justify-content: space-between;
  gap: 0px 30px;
}
.middle-left {
  display: flex;
  flex-direction: column;
  gap: 20px 0;

}

.middle-right {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}


.middle-left a, .middle-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  
}

.right-container .footer-logo {
  background-color: white;
}

footer svg path:hover {
  fill: hsl(136, 65%, 51%);
  cursor: pointer;
}
/* hidden */
.mobile-first-section, .mobile-header, .mobile-third-section, .mobile-second-section, .mobile-footer {
  display: none;
}

/* Responsive Design for Mobile*/

/* @media (min-width: 500px) and (max-width: 768px) {
  header, footer, .mobile-footer {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  footer {
    display: none;
  }
  .mobile-footer {
    display: block;
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 10px 0;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mobile-footer .footer-logo{
    background-color: white;
  }

  .mobile-social-media {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
  }

  .mobile-footer-p  p{
    color: white;
    font-size: 10px;
  }

} */

 @media (max-width: 768px) {

  /*header*/
  
  .mobile-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-header .menu-button button {
    background-color: rgb(245, 240, 240);
    border: none;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }
  
  .nav-menu {
    position: absolute;
    left: -100%;
    top:70px;
    gap: 0px;
    flex-direction: column;
    /* background-color: rgb(246, 239, 239); */
    background-color: white;
    width: 350px;
    text-align: center;
    border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;  
  }

  .nav-menu a {
    text-decoration: none;
    color: black;
  }

  .nav-item {
    margin: 16px 0;
    padding-bottom: 20px;
  }

  .nav-menu.active {
    left:0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  

  /*first-section*/

  header, .first-section, .second-section, .third-section, footer{
    display: none;
  }

  .mobile-first-section {
    background-image: url("./images/image-mockups.png"),url("./images/bg-intro-desktop.svg");
    height:730px;
    background-size: 400px,800px;
    background-repeat: no-repeat;
    background-position-y: -145px,-275px;
    background-position-x: 10px, -100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px 0;

  }
  .mobile-first-section h3 {
    padding-top: 400px;
    padding-right: 10px;
    font-size: 32px;
    line-height: 1.2;
  }
  .mobile-first-section p {
    font-size: 14px;
    color: grey;
    line-height: 1.8;
  }

  /*Second-section*/

  .mobile-second-section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgb(246, 244, 244);
    gap: 30px 0;
  }

  .mobile-second-section h2 {
    font-size: 26px;
    line-height: 1.2;
  }

  .mobile-second-section p {
    line-height: 1.8;
    color: grey;
  }

  .mobile-second-section .green-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-second-section p, .mobile-second-section h3 {
    text-align: center;
  }

  .mobile-second-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /*Styling for third section*/

  .mobile-third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    background-color: rgb(243, 242, 242);
  }

  .mobile-one , .mobile-two, .mobile-three, .mobile-four {
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 20px 0;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
  }

  .mobile-third-section img {
    width: 290px;
    height: 170px;
  }

  .mobile-one h4 , .mobile-two h4, .mobile-three h4, .mobile-four h4 {
    color:grey;
    text-align: left;
  } 
  
  .mobile-one .heading , .mobile-two .heading, .mobile-three .heading, .mobile-four .heading {
    color: black;
    font-size: 20px;
    padding-left: 20px;
    line-height: 1.2;
  }
  
  .mobile-one .text , .mobile-two .text, .mobile-three .text, .mobile-four  .text {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color:grey;
    line-height: 1.8;
  }

  .mobile-third-section h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  /*styling for footer*/

  .mobile-footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 10px 0;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mobile-footer .footer-logo{
    background-color: white;
  }

  .mobile-social-media {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
  }

  .mobile-footer-p  p{
    color: white;
    font-size: 10px;
  }

  .mobile-footer a {
    color: white;
    text-decoration: none;
  }

  footer svg path:hover {
    fill: hsl(136, 65%, 51%);
    cursor: pointer;


}